div{
    flex-direction: row;
    justify-content: flex-end;
    display:flex;
    width:80%;
    margin: 0 auto;
    border: 1px solid black
}
div p{
    width:60%;
    float: left;
    margin: auto 10% auto 0;
}