body{
    width:80%;
    padding:0 10%;
    background-color: rgb(60, 60, 60);
    color: white;
    margin-bottom: 5%;
}

.uploading{
    aspect-ratio: 16/9;
    min-height: 10%;
    max-height: 10%;
    border: 2px dotted rgba(200, 200,200,0.5)
}
div{
    flex-direction: row;
    justify-content: flex-start;
    display:flex;
}
div p{
    float: left;
    margin: auto 0;
}
section{
    border:1px solid black;
    margin-top: -1px;
    padding: 10px 12px
}